In [7]:

import requests

url = 'http://localhost:8000/competitions/search/premier_league'

response = requests.get(url)

if response.status_code == 200:
    # Jeśli odpowiedź jest OK (status code 200)
    data = response.json()  # Pobierz dane odpowiedzi w formacie JSON
    print(data)  # Wyświetl dane
else:
    print("Wystąpił błąd. Kod statusu:", response.status_code)

{'query': 'premier_league', 'pageNumber': 1, 'lastPageNumber': 6, 'results': [{'id': 'GB1', 'name': 'Premier League', 'country': 'England', 'clubs': '20', 'players': '532', 'totalMarketValue': '€11.09bn', 'meanMarketValue': '€554.34m', 'continent': 'UEFA'}, {'id': 'SC1', 'name': 'Scottish Premiership', 'country': 'Scotland', 'clubs': '12', 'players': '309', 'totalMarketValue': '€331.91m', 'meanMarketValue': '€27.66m', 'continent': 'UEFA'}, {'id': 'EGY1', 'name': 'Egyptian Premier League', 'country': 'Egypt', 'clubs': '18', 'players': '616', 'totalMarketValue': '€159.80m', 'meanMarketValue': '€8.88m', 'continent': 'CAF'}, {'id': 'GB21', 'name': 'Premier League 2', 'country': 'England', 'clubs': '26', 'players': '496', 'totalMarketValue': '€131.15m', 'meanMarketValue': '€5.04m', 'continent': 'UEFA'}, {'id': 'AZ1', 'name': 'Premyer Liqa', 'country': 'Azerbaijan', 'clubs': '10', 'players': '260', 'totalMarketValue': '€80.18m', 'meanMarketValue': '€8.02m', 'continent': 'UEFA'}, {'id': 'THA1', 'name': 'Thai League', 'country': 'Thailand', 'clubs': '16', 'players': '482', 'totalMarketValue': '€75.55m', 'meanMarketValue': '€4.72m', 'continent': 'AFC'}, {'id': 'MAL1', 'name': 'Premier League', 'country': 'Malta', 'clubs': '14', 'players': '327', 'totalMarketValue': '€44.48m', 'meanMarketValue': '€3.18m', 'continent': 'UEFA'}, {'id': 'ARM1', 'name': 'Bardzraguyn khumb', 'country': 'Armenia', 'clubs': '10', 'players': '271', 'totalMarketValue': '€41.81m', 'meanMarketValue': '€4.18m', 'continent': 'UEFA'}, {'id': 'OM1L', 'name': 'Oman Professional League', 'country': 'Oman', 'clubs': '12', 'players': '418', 'totalMarketValue': '€40.41m', 'meanMarketValue': '€3.37m', 'continent': 'AFC'}, {'id': 'LIB1', 'name': 'Lebanese Premier League', 'country': 'Lebanon', 'clubs': '12', 'players': '364', 'totalMarketValue': '€39.64m', 'meanMarketValue': '€3.30m', 'continent': 'AFC'}], 'updatedAt': '2024-04-04T11:35:18.694473'}

In [3]:
pip install logger

Defaulting to user installation because normal site-packages is not writeable
Collecting logger
  Downloading logger-1.4.tar.gz (1.2 kB)
Building wheels for collected packages: logger
  Building wheel for logger (setup.py) ... done
  Created wheel for logger: filename=logger-1.4-py3-none-any.whl size=1788 sha256=e03f991d3fab90c8dbc637719732e76b61ba3c784e3106e2cdf9200e998b6612
  Stored in directory: /Users/michalchruszczewski/Library/Caches/pip/wheels/d6/2c/20/0bf3428f60a053875adaf43bee20695fff6e5d5a2cffaceaad
Successfully built logger
Installing collected packages: logger
Successfully installed logger-1.4
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [1]:
import requests
from DataSource import  Players, Clubs
import logging, re

/Users/michalchruszczewski/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [129]:
new_url= Players('IT1','2023')

In [130]:
df= new_url.transfers()

2024-04-05 09:29:10 - INFO - Club data sourced
2024-04-05 09:29:10 - INFO - List of clubs ids created
2024-04-05 09:29:27 - INFO - Players data loaded to json
2024-04-05 09:29:27 - INFO - DataFrame created

In [131]:
players_df = df.copy()

In [132]:
players_df

,id,from,to,date,upcoming,season,marketValue,fee
0,256339,46,1038,"Jun 30, 2024",True,23/24,€6.00m,End of loan
1,256339,1038,46,"Aug 10, 2023",False,23/24,€6.00m,loan transfer
2,256339,506,1038,"Jul 1, 2019",False,19/20,€15.00m,€20.00m
3,256339,1038,506,"Jun 30, 2019",False,18/19,€15.00m,End of loan
4,256339,506,1038,"Jul 17, 2018",False,18/19,€3.00m,"Loan fee:<br /><i class=""normaler-text"">€1.00m..."
...,...,...,...,...,...,...,...,...
18,241527,5380,46,"Sep 1, 2014",False,14/15,€900k,NaN
19,241527,24432,5380,"Jul 1, 2013",False,13/14,NaN,NaN
0,748316,830,276,"Sep 12, 2023",False,23/24,€450k,free transfer
1,748316,14830,830,"Aug 10, 2020",False,20/21,NaN,NaN
2,748316,15103,14830,"Jan 1, 2020",False,19/20,NaN,NaN

In [100]:
players_df= df_save

In [101]:
import pandas as pd
numeric_mask = pd.to_numeric(players_df['fee'], errors='coerce').notna()

In [108]:
def convert_fee_to_numeric(fee_str):
    # Usunięcie znaków specjalnyc
    fee_str = fee_str.replace('€', '').replace('m', 'e6').replace('k', 'e3')
    return float(fee_str)

In [133]:
import numpy as np
def delete_strings(row):
    if isinstance(row, str):
        if ('loan' in row) or ('fee' in row) or ('?' in row) or ('draft' in row) or ('free' in row):
            row= np.nan
            return row
        elif row.endswith('m'):
            row= row.replace('m', '')
            row= row.replace('€', '')
            row = float(row)*1e6
            return row
        elif row.endswith('k'):
            row= row.replace('k', '')
            row= row.replace('€', '')
            row = float(row)*1e3
            return row

    return row



players_df['fee']= players_df['fee'].apply(delete_strings)

ValueError: could not convert string to float: '20.00m'

In [128]:
players_df[players_df.notna()]

        id   from    to          date  upcoming season marketValue         fee
0   238223    294   281   Jul 1, 2017     False  17/18     €22.00m  40000000.0
1   238223   2425   294   Jul 1, 2015     False  15/16      €1.20m    500000.0
2   238223   6144  2425   Jul 1, 2012     False  12/13         NaN         NaN
3   238223   8889  6144   Jul 1, 2011     False  11/12         NaN         NaN
4   238223  45618  8889   Jul 1, 2010     False  10/11         NaN         NaN
..     ...    ...   ...           ...       ...    ...         ...         ...
8   169801   2793   931  Jan 29, 2014     False  13/14         NaN         NaN
9   169801    931  2793   Sep 2, 2013     False  13/14         NaN         NaN
10  169801   9262   931   Jul 1, 2013     False  13/14         NaN         NaN
11  169801   6942  9262   Jul 1, 2012     False  12/13         NaN         NaN
12  169801  14619  6942   Mar 1, 2011     False  10/11         NaN    500000.0

[4037 rows x 8 columns]

In [112]:
players_df.to_csv('float.csv')

In [111]:
players_df['fee']= players_df['fee'].apply(convert_fee_to_numeric)

AttributeError: 'float' object has no attribute 'replace'

ValueError: could not convert string to float: '€40.00m'

In [18]:
players_df['fee']= players_df['fee'].apply(convert_fee_to_numeric)

ValueError: could not convert string to float: 'free transfer'

In [14]:
rows_with_numeric_fee

Empty DataFrame
Columns: [id, from, to, date, upcoming, season, marketValue, fee]
Index: []

In [8]:
players= list(players_df['id'])

In [4]:
transfers_urls= [f'http://localhost:8000/players/{i}/transfers'for i in players]
transfers_list=[]
for i in transfers_urls:
    response= requests.get(i)
    data= response.json()
    transfers_list.append(data)

NameError: name 'players' is not defined

In [28]:
import pandas as pd
df= pd.DataFrame(transfers_list[0]['transfers'])
df['id']= transfers_list[0]['id']

In [32]:
df['from']= df['from'].apply(lambda x: x['clubID'])

In [30]:
df['to']= df['to'].apply(lambda x: x['clubID'])

In [33]:
df

,id,from,to,date,upcoming,season,marketValue,fee
0,238223,294,281,"Jul 1, 2017",False,17/18,€22.00m,€40.00m
1,238223,2425,294,"Jul 1, 2015",False,15/16,€1.20m,€500k
2,238223,6144,2425,"Jul 1, 2012",False,12/13,NaN,free transfer
3,238223,8889,6144,"Jul 1, 2011",False,11/12,NaN,free transfer
4,238223,45618,8889,"Jul 1, 2010",False,10/11,NaN,NaN
5,238223,14679,45618,"Jan 1, 2010",False,09/10,NaN,?

In [14]:
import pandas as pd
pd.DataFrame(club_list['11']['players'])
lista= [pd.DataFrame(club_list[i]['players']) for i in club_list]

NameError: name 'club_list' is not defined

In [13]:
lista[0]

NameError: name 'lista' is not defined

In [16]:
players_df

,id,name,position,dateOfBirth,age,nationality,height,foot,joinedOn,signedFrom,contract,marketValue,status,joined
0,238223,Ederson,Goalkeeper,"Aug 17, 1993",30,"[Brazil, Portugal]","1,88m",left,"Jul 1, 2017",SL Benfica,€40.00m,€40.00m,Muscle injury - Return unknown,NaN
1,85941,Stefan Ortega,Goalkeeper,"Nov 6, 1992",31,"[Germany, Spain]","1,85m",right,"Jul 1, 2022",Arminia Bielefeld,€9.00m,€9.00m,NaN,NaN
2,14555,Scott Carson,Goalkeeper,"Sep 3, 1985",38,[England],"1,88m",right,"Jul 20, 2021",Derby County,€200k,€200k,NaN,NaN
3,258004,Rúben Dias,Centre-Back,"May 14, 1997",26,[Portugal],"1,87m",right,"Sep 29, 2020",SL Benfica,€80.00m,€80.00m,NaN,NaN
4,475959,Josko Gvardiol,Centre-Back,"Jan 23, 2002",22,[Croatia],"1,85m",left,"Aug 5, 2023",RB Leipzig,€75.00m,€75.00m,NaN,"Joined from RB Leipzig; date: Aug 5, 2023; fee..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23,61842,Andros Townsend,Right Winger,"Jul 16, 1991",32,[England],"1,81m",left,"Oct 11, 2023",Without Club,€1.80m,€1.80m,NaN,"Joined from Without Club; date: Oct 11, 2023; ..."
24,246963,Carlton Morris,Centre-Forward,"Dec 16, 1995",28,[England],"1,85m",right,"Jul 6, 2022",Barnsley FC,€13.00m,€13.00m,NaN,NaN
25,319900,Elijah Adebayo,Centre-Forward,"Jan 7, 1998",26,"[England, Nigeria]","1,93m",NaN,"Feb 1, 2021",Walsall FC,€12.00m,€12.00m,NaN,NaN
26,469958,Jacob Brown,Centre-Forward,"Apr 10, 1998",25,"[Scotland, England]","1,78m",right,"Aug 10, 2023",Stoke City,€4.00m,€4.00m,NaN,"Joined from Stoke City; date: Aug 10, 2023; fe..."
27,169801,Cauley Woodrow,Centre-Forward,"Dec 2, 1994",29,[England],"1,84m",right,"Jul 1, 2022",Barnsley FC,€1.00m,€1.00m,NaN,NaN

In [10]:
       for i in transfers_list:
            df= pd.DataFrame(transfers_list[i]['transfers'])
            df['id']= transfers_list[i]['id']
            df['from']= df['from'].apply(lambda x: x['clubID'])
            df['to']= df['to'].apply(lambda x: x['clubID'])

In [11]:

response = requests.get(url)

In [12]:
data = response.json()

In [13]:
print(data)

{'id': 'GB1', 'name': 'Premier League', 'seasonID': '2023', 'clubs': [{'id': '281', 'name': 'Manchester City'}, {'id': '11', 'name': 'Arsenal FC'}, {'id': '631', 'name': 'Chelsea FC'}, {'id': '31', 'name': 'Liverpool FC'}, {'id': '148', 'name': 'Tottenham Hotspur'}, {'id': '985', 'name': 'Manchester United'}, {'id': '405', 'name': 'Aston Villa'}, {'id': '762', 'name': 'Newcastle United'}, {'id': '1237', 'name': 'Brighton & Hove Albion'}, {'id': '379', 'name': 'West Ham United'}, {'id': '1148', 'name': 'Brentford FC'}, {'id': '873', 'name': 'Crystal Palace'}, {'id': '703', 'name': 'Nottingham Forest'}, {'id': '989', 'name': 'AFC Bournemouth'}, {'id': '29', 'name': 'Everton FC'}, {'id': '543', 'name': 'Wolverhampton Wanderers'}, {'id': '931', 'name': 'Fulham FC'}, {'id': '1132', 'name': 'Burnley FC'}, {'id': '350', 'name': 'Sheffield United'}, {'id': '1031', 'name': 'Luton Town'}], 'updatedAt': '2024-04-04T14:27:44.989723'}

In [22]:
json_file= new_url.clubs_competitions()

In [4]:
json_file['clubs'][0]['id']

NameError: name 'json_file' is not defined

In [9]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.1-cp39-cp39-macosx_11_0_arm64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 5.3 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/michalchruszczewski/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     |████████████████████████████████| 505 kB 8.0 MB/s eta 0:00:01
Collecting numpy<2,>=1.22.4
  Downloading numpy-1.26.4-cp39-cp39-macosx_11_0_arm64.whl (14.0 MB)
     |████████████████████████████████| 14.0 MB 2.9 MB/s eta 0:00:01
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     |████████████████████████████████| 345 kB 6.2 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 pytz-2024.1 tzdata-2024.1
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd

In [19]:
json_file['clubs'][0]['id']

'281'

In [7]:
import pandas as pd       
for i in players_df:
    df= pd.DataFrame(players_df[i]['transfers'])
    df['id']= players_df[i]['id']
    df['from']= df['from'].apply(lambda x: x['clubID'])
    df['to']= df['to'].apply(lambda x: x['clubID'])

TypeError: list indices must be integers or slices, not dict

In [16]:
for index, element in enumerate(players_df):
    print(index)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526

In [14]:
# Przykładowa lista elementów
elements = ["element1", "element2", "element3"]

# Iteracja po liście z użyciem enumerate() do uzyskania indeksu i wartości
for index, element in enumerate(elements):
    print(f"Index: {index}, Element: {element}")

Index: 0, Element: element1
Index: 1, Element: element2
Index: 2, Element: element3