In [3]:

import requests

url = 'http://localhost:8000/clubs/11/players?season_id=2023'

response = requests.get(url)

if response.status_code == 200:
    # Jeśli odpowiedź jest OK (status code 200)
    data = response.json()  # Pobierz dane odpowiedzi w formacie JSON
    print(data)  # Wyświetl dane
else:
    print("Wystąpił błąd. Kod statusu:", response.status_code)

/Users/michalchruszczewski/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

{'id': '11', 'players': [{'id': '262749', 'name': 'David Raya', 'position': 'Goalkeeper', 'dateOfBirth': 'Sep 15, 1995', 'age': '28', 'nationality': ['Spain'], 'height': '1,83m', 'foot': 'right', 'joinedOn': 'Aug 15, 2023', 'joined': 'On loan from Brentford FC until Jun 30, 2024', 'signedFrom': 'Brentford FC', 'contract': '€35.00m', 'marketValue': '€35.00m'}, {'id': '427568', 'name': 'Aaron Ramsdale', 'position': 'Goalkeeper', 'dateOfBirth': 'May 14, 1998', 'age': '25', 'nationality': ['England'], 'height': '1,90m', 'foot': 'right', 'joinedOn': 'Aug 20, 2021', 'signedFrom': 'Sheffield United', 'contract': '€25.00m', 'marketValue': '€25.00m'}, {'id': '493513', 'name': 'Karl Hein', 'position': 'Goalkeeper', 'dateOfBirth': 'Apr 13, 2002', 'age': '21', 'nationality': ['Estonia'], 'height': '1,93m', 'foot': 'right', 'joinedOn': 'Jul 1, 2022', 'signedFrom': 'Arsenal FC U21', 'contract': '€2.00m', 'marketValue': '€2.00m'}, {'id': '495666', 'name': 'William Saliba', 'position': 'Centre-Back', 'dateOfBirth': 'Mar 24, 2001', 'age': '23', 'nationality': ['France', 'Cameroon'], 'height': '1,92m', 'foot': 'right', 'joinedOn': 'Jul 25, 2019', 'signedFrom': ': Ablöse €30.00m', 'contract': '€80.00m', 'marketValue': '€80.00m'}, {'id': '435338', 'name': 'Gabriel Magalhães', 'position': 'Centre-Back', 'dateOfBirth': 'Dec 19, 1997', 'age': '26', 'nationality': ['Brazil'], 'height': '1,90m', 'foot': 'left', 'joinedOn': 'Sep 1, 2020', 'signedFrom': 'LOSC Lille', 'contract': '€65.00m', 'marketValue': '€65.00m'}, {'id': '420243', 'name': 'Jurrien Timber', 'position': 'Centre-Back', 'dateOfBirth': 'Jun 17, 2001', 'age': '22', 'nationality': ['Netherlands', 'Curacao'], 'height': '1,79m', 'foot': 'right', 'joinedOn': 'Jul 14, 2023', 'joined': 'Joined from Ajax Amsterdam; date: Jul 14, 2023; fee: €40.00m', 'signedFrom': 'Ajax Amsterdam', 'contract': '€40.00m', 'marketValue': '€40.00m', 'status': 'Cruciate ligament tear - Return unknown'}, {'id': '203853', 'name': 'Oleksandr Zinchenko', 'position': 'Left-Back', 'dateOfBirth': 'Dec 15, 1996', 'age': '27', 'nationality': ['Ukraine'], 'height': '1,75m', 'foot': 'left', 'joinedOn': 'Jul 22, 2022', 'signedFrom': 'Manchester City', 'contract': '€42.00m', 'marketValue': '€42.00m'}, {'id': '425918', 'name': 'Jakub Kiwior', 'position': 'Left-Back', 'dateOfBirth': 'Feb 15, 2000', 'age': '24', 'nationality': ['Poland'], 'height': '1,89m', 'foot': 'left', 'joinedOn': 'Jan 23, 2023', 'signedFrom': ': Ablöse €19.50m', 'contract': '€25.00m', 'marketValue': '€25.00m'}, {'id': '335721', 'name': 'Ben White', 'position': 'Right-Back', 'dateOfBirth': 'Oct 8, 1997', 'age': '26', 'nationality': ['England'], 'height': '1,86m', 'foot': 'right', 'joinedOn': 'Jul 30, 2021', 'signedFrom': 'Brighton & Hove Albion', 'contract': '€55.00m', 'marketValue': '€55.00m'}, {'id': '331560', 'name': 'Takehiro Tomiyasu', 'position': 'Right-Back', 'dateOfBirth': 'Nov 5, 1998', 'age': '25', 'nationality': ['Japan'], 'height': '1,88m', 'foot': 'right', 'joinedOn': 'Aug 31, 2021', 'signedFrom': 'Bologna FC 1909', 'contract': '€30.00m', 'marketValue': '€30.00m'}, {'id': '112988', 'name': 'Cédric Soares', 'position': 'Right-Back', 'dateOfBirth': 'Aug 31, 1991', 'age': '32', 'nationality': ['Portugal', 'Germany'], 'height': '1,71m', 'foot': 'right', 'joinedOn': 'Jul 1, 2020', 'joined': 'Returned after loan spell with Fulham FC; date: Jun 30, 2023; fee: End of loan', 'signedFrom': 'Southampton FC', 'contract': '€2.00m', 'marketValue': '€2.00m'}, {'id': '357662', 'name': 'Declan Rice', 'position': 'Defensive Midfield', 'dateOfBirth': 'Jan 14, 1999', 'age': '25', 'nationality': ['England', 'Ireland'], 'height': '1,88m', 'foot': 'right', 'joinedOn': 'Jul 15, 2023', 'joined': 'Joined from West Ham United; date: Jul 15, 2023; fee: €116.60m', 'signedFrom': 'West Ham United', 'contract': '€110.00m', 'marketValue': '€110.00m'}, {'id': '230784', 'name': 'Thomas Partey', 'position': 'Defensive Midfield', 'dateOfBirth': 'Jun 13, 1993', 'age': '30', 'nationality': ['Ghana'], 'height': '1,85m', 'foot': 'right', 'joinedOn': 'Oct 5, 2020', 'signedFrom': 'Atlético de Madrid', 'contract': '€20.00m', 'marketValue': '€20.00m'}, {'id': '102017', 'name': 'Jorginho', 'position': 'Defensive Midfield', 'dateOfBirth': 'Dec 20, 1991', 'age': '32', 'nationality': ['Italy', 'Brazil'], 'height': '1,78m', 'foot': 'right', 'joinedOn': 'Jan 31, 2023', 'signedFrom': 'Chelsea FC', 'contract': '€15.00m', 'marketValue': '€15.00m'}, {'id': '160438', 'name': 'Mohamed Elneny', 'position': 'Defensive Midfield', 'dateOfBirth': 'Jul 11, 1992', 'age': '31', 'nationality': ['Egypt'], 'height': '1,79m', 'foot': 'right', 'joinedOn': 'Jan 14, 2016', 'signedFrom': ': Ablöse €12.50m', 'contract': '€4.50m', 'marketValue': '€4.50m'}, {'id': '316264', 'name': 'Martin Ødegaard', 'position': 'Attacking Midfield', 'dateOfBirth': 'Dec 17, 1998', 'age': '25', 'nationality': ['Norway'], 'height': '1,78m', 'foot': 'left', 'joinedOn': 'Aug 20, 2021', 'signedFrom': 'Real Madrid', 'contract': '€95.00m', 'marketValue': '€95.00m', 'status': 'Team captain'}, {'id': '309400', 'name': 'Kai Havertz', 'position': 'Attacking Midfield', 'dateOfBirth': 'Jun 11, 1999', 'age': '24', 'nationality': ['Germany'], 'height': '1,93m', 'foot': 'left', 'joinedOn': 'Jul 1, 2023', 'joined': 'Joined from Chelsea FC; date: Jul 1, 2023; fee: €75.00m', 'signedFrom': 'Chelsea FC', 'contract': '€60.00m', 'marketValue': '€60.00m'}, {'id': '392765', 'name': 'Emile Smith Rowe', 'position': 'Attacking Midfield', 'dateOfBirth': 'Jul 28, 2000', 'age': '23', 'nationality': ['England'], 'height': '1,82m', 'foot': 'right', 'joinedOn': 'Aug 1, 2020', 'signedFrom': 'Arsenal FC U23', 'contract': '€25.00m', 'marketValue': '€25.00m'}, {'id': '537598', 'name': 'Fábio Vieira', 'position': 'Attacking Midfield', 'dateOfBirth': 'May 30, 2000', 'age': '23', 'nationality': ['Portugal'], 'height': '1,70m', 'foot': 'left', 'joinedOn': 'Jul 1, 2022', 'signedFrom': 'FC Porto', 'contract': '€25.00m', 'marketValue': '€25.00m'}, {'id': '655488', 'name': 'Gabriel Martinelli', 'position': 'Left Winger', 'dateOfBirth': 'Jun 18, 2001', 'age': '22', 'nationality': ['Brazil', 'Italy'], 'height': '1,78m', 'foot': 'right', 'joinedOn': 'Jul 2, 2019', 'signedFrom': 'Ituano Futebol Clube (SP)', 'contract': '€80.00m', 'marketValue': '€80.00m'}, {'id': '144028', 'name': 'Leandro Trossard', 'position': 'Left Winger', 'dateOfBirth': 'Dec 4, 1994', 'age': '29', 'nationality': ['Belgium'], 'height': '1,72m', 'foot': 'right', 'joinedOn': 'Jan 20, 2023', 'signedFrom': 'Brighton & Hove Albion', 'contract': '€38.00m', 'marketValue': '€38.00m'}, {'id': '433177', 'name': 'Bukayo Saka', 'position': 'Right Winger', 'dateOfBirth': 'Sep 5, 2001', 'age': '22', 'nationality': ['England', 'Nigeria'], 'height': '1,78m', 'foot': 'left', 'joinedOn': 'Jul 1, 2019', 'signedFrom': 'Arsenal FC U23', 'contract': '€130.00m', 'marketValue': '€130.00m', 'status': 'unknown injury - Return unknown'}, {'id': '340325', 'name': 'Reiss Nelson', 'position': 'Right Winger', 'dateOfBirth': 'Dec 10, 1999', 'age': '24', 'nationality': ['England', 'Jamaica'], 'height': '1,75m', 'foot': 'right', 'joinedOn': 'Jul 1, 2019', 'signedFrom': 'Arsenal FC U23', 'contract': '€15.00m', 'marketValue': '€15.00m'}, {'id': '363205', 'name': 'Gabriel Jesus', 'position': 'Centre-Forward', 'dateOfBirth': 'Apr 3, 1997', 'age': '27', 'nationality': ['Brazil'], 'height': '1,75m', 'foot': 'right', 'joinedOn': 'Jul 4, 2022', 'signedFrom': 'Manchester City', 'contract': '€70.00m', 'marketValue': '€70.00m'}, {'id': '340324', 'name': 'Eddie Nketiah', 'position': 'Centre-Forward', 'dateOfBirth': 'May 30, 1999', 'age': '24', 'nationality': ['England', 'Ghana'], 'height': '1,75m', 'foot': 'right', 'joinedOn': 'Jan 1, 2019', 'signedFrom': 'Arsenal FC U23', 'contract': '€30.00m', 'marketValue': '€30.00m'}], 'updatedAt': '2024-04-06T16:37:44.557576'}

In [19]:
df= pd.DataFrame(data['players'])

In [27]:
df.loc[df.status.isna(), 'status']= 0

In [28]:
df

,id,name,position,dateOfBirth,age,nationality,height,foot,joinedOn,joined,signedFrom,contract,marketValue,status
0,262749,David Raya,Goalkeeper,"Sep 15, 1995",28,[Spain],"1,83m",right,"Aug 15, 2023","On loan from Brentford FC until Jun 30, 2024",Brentford FC,€35.00m,€35.00m,0
1,427568,Aaron Ramsdale,Goalkeeper,"May 14, 1998",25,[England],"1,90m",right,"Aug 20, 2021",NaN,Sheffield United,€25.00m,€25.00m,0
2,493513,Karl Hein,Goalkeeper,"Apr 13, 2002",21,[Estonia],"1,93m",right,"Jul 1, 2022",NaN,Arsenal FC U21,€2.00m,€2.00m,0
3,495666,William Saliba,Centre-Back,"Mar 24, 2001",23,"[France, Cameroon]","1,92m",right,"Jul 25, 2019",NaN,: Ablöse €30.00m,€80.00m,€80.00m,0
4,435338,Gabriel Magalhães,Centre-Back,"Dec 19, 1997",26,[Brazil],"1,90m",left,"Sep 1, 2020",NaN,LOSC Lille,€65.00m,€65.00m,0
5,420243,Jurrien Timber,Centre-Back,"Jun 17, 2001",22,"[Netherlands, Curacao]","1,79m",right,"Jul 14, 2023","Joined from Ajax Amsterdam; date: Jul 14, 2023...",Ajax Amsterdam,€40.00m,€40.00m,Cruciate ligament tear - Return unknown
6,203853,Oleksandr Zinchenko,Left-Back,"Dec 15, 1996",27,[Ukraine],"1,75m",left,"Jul 22, 2022",NaN,Manchester City,€42.00m,€42.00m,0
7,425918,Jakub Kiwior,Left-Back,"Feb 15, 2000",24,[Poland],"1,89m",left,"Jan 23, 2023",NaN,: Ablöse €19.50m,€25.00m,€25.00m,0
8,335721,Ben White,Right-Back,"Oct 8, 1997",26,[England],"1,86m",right,"Jul 30, 2021",NaN,Brighton & Hove Albion,€55.00m,€55.00m,0
9,331560,Takehiro Tomiyasu,Right-Back,"Nov 5, 1998",25,[Japan],"1,88m",right,"Aug 31, 2021",NaN,Bologna FC 1909,€30.00m,€30.00m,0
10,112988,Cédric Soares,Right-Back,"Aug 31, 1991",32,"[Portugal, Germany]","1,71m",right,"Jul 1, 2020",Returned after loan spell with Fulham FC; date...,Southampton FC,€2.00m,€2.00m,0
11,357662,Declan Rice,Defensive Midfield,"Jan 14, 1999",25,"[England, Ireland]","1,88m",right,"Jul 15, 2023","Joined from West Ham United; date: Jul 15, 202...",West Ham United,€110.00m,€110.00m,0
12,230784,Thomas Partey,Defensive Midfield,"Jun 13, 1993",30,[Ghana],"1,85m",right,"Oct 5, 2020",NaN,Atlético de Madrid,€20.00m,€20.00m,0
13,102017,Jorginho,Defensive Midfield,"Dec 20, 1991",32,"[Italy, Brazil]","1,78m",right,"Jan 31, 2023",NaN,Chelsea FC,€15.00m,€15.00m,0
14,160438,Mohamed Elneny,Defensive Midfield,"Jul 11, 1992",31,[Egypt],"1,79m",right,"Jan 14, 2016",NaN,: Ablöse €12.50m,€4.50m,€4.50m,0
15,316264,Martin Ødegaard,Attacking Midfield,"Dec 17, 1998",25,[Norway],"1,78m",left,"Aug 20, 2021",NaN,Real Madrid,€95.00m,€95.00m,Team captain
16,309400,Kai Havertz,Attacking Midfield,"Jun 11, 1999",24,[Germany],"1,93m",left,"Jul 1, 2023","Joined from Chelsea FC; date: Jul 1, 2023; fee...",Chelsea FC,€60.00m,€60.00m,0
17,392765,Emile Smith Rowe,Attacking Midfield,"Jul 28, 2000",23,[England],"1,82m",right,"Aug 1, 2020",NaN,Arsenal FC U23,€25.00m,€25.00m,0
18,537598,Fábio Vieira,Attacking Midfield,"May 30, 2000",23,[Portugal],"1,70m",left,"Jul 1, 2022",NaN,FC Porto,€25.00m,€25.00m,0
19,655488,Gabriel Martinelli,Left Winger,"Jun 18, 2001",22,"[Brazil, Italy]","1,78m",right,"Jul 2, 2019",NaN,Ituano Futebol Clube (SP),€80.00m,€80.00m,0
20,144028,Leandro Trossard,Left Winger,"Dec 4, 1994",29,[Belgium],"1,72m",right,"Jan 20, 2023",NaN,Brighton & Hove Albion,€38.00m,€38.00m,0
21,433177,Bukayo Saka,Right Winger,"Sep 5, 2001",22,"[England, Nigeria]","1,78m",left,"Jul 1, 2019",NaN,Arsenal FC U23,€130.00m,€130.00m,unknown injury - Return unknown
22,340325,Reiss Nelson,Right Winger,"Dec 10, 1999",24,"[England, Jamaica]","1,75m",right,"Jul 1, 2019",NaN,Arsenal FC U23,€15.00m,€15.00m,0
23,363205,Gabriel Jesus,Centre-Forward,"Apr 3, 1997",27,[Brazil],"1,75m",right,"Jul 4, 2022",NaN,Manchester City,€70.00m,€70.00m,0
24,340324,Eddie Nketiah,Centre-Forward,"May 30, 1999",24,"[England, Ghana]","1,75m",right,"Jan 1, 2019",NaN,Arsenal FC U23,€30.00m,€30.00m,0

In [30]:
df.groupby(['position']).agg(apperances=(column="age", aggfunc="sum"))

SyntaxError: invalid syntax (2320234365.py, line 1)

In [5]:
import pandas as pd
pd.DataFrame(data['stats'])

,competitionID,clubID,seasonID,competitionName,appearances,goals,yellowCards,minutesPlayed,secondYellowCards,assists
0,GB1,11,23/24,Premier League,28,4,3,2.355',NaN,NaN
1,CL,11,23/24,Champions League,8,NaN,NaN,750',NaN,NaN
2,FAC,11,23/24,FA Cup,1,NaN,NaN,90',NaN,NaN
3,CGB,11,23/24,EFL Cup,2,NaN,NaN,180',NaN,NaN
4,GBCS,11,23/24,Community Shield,1,NaN,1,87',NaN,NaN
5,GB1,11,22/23,Premier League,38,3,5,3.411',NaN,NaN
6,EL,11,22/23,Europa League,7,NaN,1,515',NaN,NaN
7,FAC,11,22/23,FA Cup,2,NaN,NaN,180',NaN,NaN
8,CGB,11,22/23,EFL Cup,1,NaN,NaN,27',NaN,NaN
9,GB1,11,21/22,Premier League,35,5,6,3.067',1,NaN
10,CGB,11,21/22,EFL Cup,3,NaN,NaN,197',NaN,NaN
11,GB21,9249,21/22,Premier League 2,1,NaN,NaN,45',NaN,NaN
12,GB1,11,20/21,Premier League,23,2,2,1.996',1,NaN
13,EL,11,20/21,Europa League,6,1,1,540',NaN,1
14,FAC,11,20/21,FA Cup,1,NaN,NaN,90',NaN,NaN
15,CGB,11,20/21,EFL Cup,2,NaN,NaN,180',NaN,NaN
16,FR1,1082,19/20,Ligue 1,24,1,3,2.087',NaN,NaN
17,FRC,1082,19/20,Coupe de France,1,NaN,1,90',NaN,NaN
18,FRL,1082,19/20,Coupe de la Ligue,3,NaN,NaN,270',NaN,NaN
19,CL,1082,19/20,Champions League,6,NaN,2,540',NaN,NaN
20,FR1,1082,18/19,Ligue 1,14,1,1,1.063',NaN,NaN
21,FRC,1082,18/19,Coupe de France,2,NaN,NaN,90',NaN,NaN
22,CN2D,12765,18/19,National 2 - Grp. D,5,NaN,NaN,446',NaN,NaN
23,FRL,1082,18/19,Coupe de la Ligue,1,NaN,NaN,90',NaN,NaN
24,KRC,419,17/18,Hrvatski nogometni kup,NaN,NaN,NaN,NaN,NaN,NaN
25,KR2,44796,17/18,Prva NL,10,2,2,900',NaN,NaN
26,KR1,419,17/18,SuperSport HNL,1,NaN,NaN,90',NaN,NaN
27,FRC,1095,17/18,Coupe de France,2,NaN,NaN,210',NaN,NaN
28,FR1,1095,17/18,Ligue 1,1,NaN,1,83',NaN,NaN
29,FRL,1095,17/18,Coupe de la Ligue,1,NaN,1,90',NaN,NaN
30,FR1,1082,16/17,Ligue 1,1,NaN,NaN,8',NaN,NaN
31,CN2B,12765,16/17,CFA - Grp. B,2,NaN,NaN,180',NaN,NaN
32,FRC,1082,16/17,Coupe de France,NaN,NaN,NaN,NaN,NaN,NaN
33,BRA2,2035,2016,Série B,21,1,6,1.861',NaN,NaN
34,BRC,2035,2016,Copa do Brasil,4,NaN,1,360',NaN,NaN

In [3]:
pip install logger

Defaulting to user installation because normal site-packages is not writeable
Collecting logger
  Downloading logger-1.4.tar.gz (1.2 kB)
Building wheels for collected packages: logger
  Building wheel for logger (setup.py) ... done
  Created wheel for logger: filename=logger-1.4-py3-none-any.whl size=1788 sha256=e03f991d3fab90c8dbc637719732e76b61ba3c784e3106e2cdf9200e998b6612
  Stored in directory: /Users/michalchruszczewski/Library/Caches/pip/wheels/d6/2c/20/0bf3428f60a053875adaf43bee20695fff6e5d5a2cffaceaad
Successfully built logger
Installing collected packages: logger
Successfully installed logger-1.4
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [12]:
import Data_manipulation_functions as dmf
import pandas as pd
import numpy as np

In [8]:
tables_list= []
tables_list.append(pd.read_csv ('Data/Input/England/main_players_df.csv'))
tables_list.append(pd.read_csv ('Data/Input/England/stats_df.csv'))
tables_list.append(pd.read_csv ('Data/Input/England/transfers_df.csv'))

In [13]:
df= dmf.join_tables(tables_list)

Index(['Unnamed: 0_x', 'id', 'from', 'to', 'date', 'upcoming', 'season',
       'marketValue_x', 'fee', 'Unnamed: 0_y', 'competitionID', 'clubID',
       'seasonID', 'competitionName', 'appearances', 'yellowCards',
       'goalsConceded', 'cleanSheets', 'minutesPlayed', 'redCards', 'goals',
       'assists', 'secondYellowCards', 'Unnamed: 0', 'name', 'position',
       'dateOfBirth', 'age', 'nationality', 'currentClub', 'height', 'foot',
       'joinedOn', 'signedFrom', 'marketValue_y', 'status', 'joined',
       'contract'],
      dtype='object')

In [3]:
pip install aiohttp

Defaulting to user installation because normal site-packages is not writeable
Collecting aiohttp
  Downloading aiohttp-3.9.3-cp39-cp39-macosx_11_0_arm64.whl (388 kB)
     |████████████████████████████████| 388 kB 3.0 MB/s eta 0:00:01
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.9.4-cp39-cp39-macosx_11_0_arm64.whl (81 kB)
     |████████████████████████████████| 81 kB 5.5 MB/s eta 0:00:01
Collecting async-timeout<5.0,>=4.0
  Downloading async_timeout-4.0.3-py3-none-any.whl (5.7 kB)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.4.1-cp39-cp39-macosx_11_0_arm64.whl (53 kB)
     |████████████████████████████████| 53 kB 6.1 MB/s eta 0:00:01
Collecting attrs>=17.3.0
  Downloading attrs-23.2.0-py3-none-any.whl (60 kB)
     |████████████████████████████████| 60 kB 6.8 MB/s eta 0:00:01
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.5-cp39-cp39-macosx_11_0_arm64.whl (30 kB)
Requirement already satisfied: idna>=2.0 in /Users/michalchruszczewski/Library/Python/3.9/lib/python/site-packages (from yarl<2.0,>=1.0->aiohttp) (3.6)
Installing collected packages: multidict, frozenlist, yarl, attrs, async-timeout, aiosignal, aiohttp
Successfully installed aiohttp-3.9.3 aiosignal-1.3.1 async-timeout-4.0.3 attrs-23.2.0 frozenlist-1.4.1 multidict-6.0.5 yarl-1.9.4
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [7]:
import requests
from DataSource import  Players, Clubs
import logging, re

In [8]:
INSTANCE_1= Players('GB1','2022','2023')

In [6]:
INSTANCE_1.profile_df()

RuntimeError: This event loop is already running

In [25]:
data_2= new_url.profile_df()

2024-04-05 14:49:56 - INFO - Club data sourced
2024-04-05 14:49:56 - INFO - List of clubs ids created
2024-04-05 14:50:55 - INFO - Players data loaded to json
2024-04-05 14:50:55 - INFO - DataFrame created

KeyError: 'position'

In [26]:
data_3= new_url.stats_df()

2024-04-05 15:09:01 - INFO - Club data sourced
2024-04-05 15:09:01 - INFO - List of clubs ids created
2024-04-05 15:10:04 - INFO - Players data loaded to json
2024-04-05 15:10:04 - INFO - DataFrame created
2024-04-05 15:41:24 - INFO - Stats DataFrame created

In [27]:
data_3

,competitionID,clubID,seasonID,competitionName,appearances,goalsConceded,cleanSheets,minutesPlayed,yellowCards,id,redCards,goals,assists,secondYellowCards
0,GB1,11,2023,Premier League,6,5,2,540',NaN,427568,NaN,NaN,NaN,NaN
1,CL,11,2023,Champions League,1,1,NaN,90',NaN,427568,NaN,NaN,NaN,NaN
2,FAC,11,2023,FA Cup,1,2,NaN,90',NaN,427568,NaN,NaN,NaN,NaN
3,CGB,11,2023,EFL Cup,2,3,1,180',NaN,427568,NaN,NaN,NaN,NaN
4,GBCS,11,2023,Community Shield,1,1,NaN,90',NaN,427568,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49,GB2,1132,2008,Championship,25,NaN,NaN,589',NaN,53360,NaN,2,NaN,NaN
50,FAC,1132,2008,FA Cup,4,NaN,NaN,59',NaN,53360,NaN,1,NaN,NaN
51,CGB,1132,2008,League Cup,3,NaN,NaN,59',NaN,53360,NaN,2,NaN,NaN
52,SC2,3033,2007,Championship,11,NaN,NaN,925',2,53360,NaN,3,NaN,NaN
53,GB2,1132,2007,Championship,1,NaN,NaN,4',NaN,53360,NaN,NaN,NaN,NaN

In [ ]:
data_4= new_url.players_df()

In [ ]:
data.loc[data['name'] == 'Bukayo Saka']

AttributeError: 'dict' object has no attribute 'loc'

In [ ]:
data_2= new_url.transfers_df()
data_3= new.url.players_df()

In [30]:
list_dfs= [pd.DataFrame(data[i]['players']) for i in data]

TypeError: list indices must be integers or slices, not dict

In [49]:
data_frame = []
for element in data:
    data_frame += element['players']

In [51]:
pd.DataFrame(data_frame)

,id,name,position,dateOfBirth,age,nationality,height,foot,joinedOn,joined,signedFrom,contract,marketValue,status
0,286047,Guglielmo Vicario,Goalkeeper,"Oct 7, 1996",27,[Italy],"1,94m",right,"Jul 1, 2023","Joined from FC Empoli; date: Jul 1, 2023; fee:...",FC Empoli,€35.00m,€35.00m,NaN
1,52570,Fraser Forster,Goalkeeper,"Mar 17, 1988",36,[England],"2,01m",right,"Jul 1, 2022",NaN,Southampton FC,€1.20m,€1.20m,Ankle injury - Return unknown
2,428016,Brandon Austin,Goalkeeper,"Jan 8, 1999",25,"[England, United States]","1,88m",right,"Aug 1, 2021",NaN,Tottenham Hotspur U23,€600k,€600k,NaN
3,282823,Alfie Whiteman,Goalkeeper,"Oct 2, 1998",25,[England],"1,88m",right,"Jul 1, 2019",NaN,Tottenham Hotspur U23,€500k,€500k,NaN
4,355915,Cristian Romero,Centre-Back,"Apr 27, 1998",25,[Argentina],"1,85m",right,"Aug 30, 2022",NaN,Atalanta BC,€60.00m,€60.00m,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522,627248,Lewis Dobbin,Left Winger,"Jan 3, 2003",21,[England],"1,75m",NaN,"Jul 1, 2023",Internal transfer: Everton FC U21; date: Jul 1...,Everton FC U21,€2.50m,€2.50m,NaN
523,417346,Jack Harrison,Right Winger,"Nov 20, 1996",27,[England],"1,75m",left,"Aug 14, 2023","On loan from Leeds United until May 31, 2024",Leeds United,€22.00m,€22.00m,NaN
524,306024,Dominic Calvert-Lewin,Centre-Forward,"Mar 16, 1997",27,[England],"1,89m",right,"Aug 31, 2016",NaN,Sheffield United,€22.00m,€22.00m,NaN
525,595809,Beto,Centre-Forward,"Jan 31, 1998",26,"[Portugal, Guinea-Bissau]","1,94m",right,"Aug 29, 2023","Joined from Udinese Calcio; date: Aug 29, 2023...",Udinese Calcio,€22.00m,€22.00m,NaN
526,670688,Chermiti,Centre-Forward,"May 24, 2004",19,"[Portugal, Tunisia]","1,92m",right,"Aug 11, 2023","Joined from Sporting CP; date: Aug 11, 2023; f...",Sporting CP,€9.00m,€9.00m,NaN

In [15]:
data[4]

{'id': '31',
 'players': [{'id': '105470',
   'name': 'Alisson',
   'position': 'Goalkeeper',
   'dateOfBirth': 'Oct 2, 1992',
   'age': '31',
   'nationality': ['Brazil'],
   'height': '1,93m',
   'foot': 'right',
   'joinedOn': 'Jul 19, 2018',
   'signedFrom': 'AS Roma',
   'contract': '€32.00m',
   'marketValue': '€32.00m',
   'status': 'Hamstring injury - Return expected on Apr 30, 2024'},
  {'id': '340918',
   'name': 'Caoimhín Kelleher',
   'position': 'Goalkeeper',
   'dateOfBirth': 'Nov 23, 1998',
   'age': '25',
   'nationality': ['Ireland'],
   'height': '1,88m',
   'foot': 'right',
   'joinedOn': 'Jul 1, 2019',
   'signedFrom': 'Liverpool FC U23',
   'contract': '€18.00m',
   'marketValue': '€18.00m'},
  {'id': '71271',
   'name': 'Adrián',
   'position': 'Goalkeeper',
   'dateOfBirth': 'Jan 3, 1987',
   'age': '37',
   'nationality': ['Spain'],
   'height': '1,90m',
   'foot': 'right',
   'joinedOn': 'Aug 5, 2019',
   'signedFrom': 'West Ham United',
   'contract': '€600k',
   'marketValue': '€600k'},
  {'id': '357119',
   'name': 'Ibrahima Konaté',
   'position': 'Centre-Back',
   'dateOfBirth': 'May 25, 1999',
   'age': '24',
   'nationality': ['France', 'Mali'],
   'height': '1,94m',
   'foot': 'right',
   'joinedOn': 'Jul 1, 2021',
   'signedFrom': 'RB Leipzig',
   'contract': '€45.00m',
   'marketValue': '€45.00m'},
  {'id': '139208',
   'name': 'Virgil van Dijk',
   'position': 'Centre-Back',
   'dateOfBirth': 'Jul 8, 1991',
   'age': '32',
   'nationality': ['Netherlands', 'Suriname'],
   'height': '1,93m',
   'foot': 'right',
   'joinedOn': 'Jan 1, 2018',
   'signedFrom': 'Southampton FC',
   'contract': '€32.00m',
   'marketValue': '€32.00m',
   'status': 'Team captain'},
  {'id': '256178',
   'name': 'Joe Gomez',
   'position': 'Centre-Back',
   'dateOfBirth': 'May 23, 1997',
   'age': '26',
   'nationality': ['England', 'The Gambia'],
   'height': '1,88m',
   'foot': 'right',
   'joinedOn': 'Jul 1, 2015',
   'signedFrom': 'Charlton Athletic',
   'contract': '€25.00m',
   'marketValue': '€25.00m'},
  {'id': '632349',
   'name': 'Jarell Quansah',
   'position': 'Centre-Back',
   'dateOfBirth': 'Jan 29, 2003',
   'age': '21',
   'nationality': ['England', 'Scotland'],
   'height': '1,90m',
   'foot': 'right',
   'joinedOn': 'Jul 1, 2023',
   'joined': 'Internal transfer: Liverpool FC U21; date: Jul 1, 2023',
   'signedFrom': 'Liverpool FC U21',
   'contract': '€12.00m',
   'marketValue': '€12.00m'},
  {'id': '82105',
   'name': 'Joel Matip',
   'position': 'Centre-Back',
   'dateOfBirth': 'Aug 8, 1991',
   'age': '32',
   'nationality': ['Cameroon', 'Germany'],
   'height': '1,95m',
   'foot': 'right',
   'joinedOn': 'Jul 1, 2016',
   'signedFrom': 'FC Schalke 04',
   'contract': '€8.00m',
   'marketValue': '€8.00m',
   'status': 'Cruciate ligament tear - Return expected on Jun 30, 2024'},
  {'id': '503679',
   'name': 'Rhys Williams',
   'position': 'Centre-Back',
   'dateOfBirth': 'Feb 3, 2001',
   'age': '23',
   'nationality': ['England', 'Jamaica'],
   'height': '1,95m',
   'foot': 'right',
   'joinedOn': 'Jul 1, 2020',
   'joined': 'Returned after loan spell with Port Vale FC; date: Feb 1, 2024; fee: End of loan',
   'signedFrom': 'Liverpool FC U23',
   'contract': '€1.80m',
   'marketValue': '€1.80m',
   'status': 'unknown injury - Return unknown'},
  {'id': '234803',
   'name': 'Andrew Robertson',
   'position': 'Left-Back',
   'dateOfBirth': 'Mar 11, 1994',
   'age': '30',
   'nationality': ['Scotland'],
   'height': '1,78m',
   'foot': 'left',
   'joinedOn': 'Jul 21, 2017',
   'signedFrom': ': Ablöse €9.00m',
   'contract': '€35.00m',
   'marketValue': '€35.00m'},
  {'id': '338070',
   'name': 'Konstantinos Tsimikas',
   'position': 'Left-Back',
   'dateOfBirth': 'May 12, 1996',
   'age': '27',
   'nationality': ['Greece'],
   'height': '1,79m',
   'foot': 'left',
   'joinedOn': 'Aug 10, 2020',
   'signedFrom': 'Olympiacos Piraeus',
   'contract': '€22.00m',
   'marketValue': '€22.00m'},
  {'id': '314353',
   'name': 'Trent Alexander-Arnold',
   'position': 'Right-Back',
   'dateOfBirth': 'Oct 7, 1998',
   'age': '25',
   'nationality': ['England'],
   'height': '1,80m',
   'foot': 'right',
   'joinedOn': 'Jul 1, 2016',
   'signedFrom': 'Liverpool FC U18',
   'contract': '€70.00m',
   'marketValue': '€70.00m',
   'status': 'Torn lateral knee ligament - Return expected on Apr 17, 2024'},
  {'id': '624258',
   'name': 'Conor Bradley',
   'position': 'Right-Back',
   'dateOfBirth': 'Jul 9, 2003',
   'age': '20',
   'nationality': ['Northern Ireland'],
   'height': '1,81m',
   'foot': 'right',
   'joinedOn': 'Jul 1, 2023',
   'joined': 'Internal transfer: Liverpool FC U21; date: Jul 1, 2023',
   'signedFrom': 'Liverpool FC U21',
   'contract': '€15.00m',
   'marketValue': '€15.00m'},
  {'id': '146310',
   'name': 'Wataru Endo',
   'position': 'Defensive Midfield',
   'dateOfBirth': 'Feb 9, 1993',
   'age': '31',
   'nationality': ['Japan'],
   'height': '1,78m',
   'foot': 'right',
   'joinedOn': 'Aug 18, 2023',
   'joined': 'Joined from VfB Stuttgart; date: Aug 18, 2023; fee: €20.00m',
   'signedFrom': 'VfB Stuttgart',
   'contract': '€13.00m',
   'marketValue': '€13.00m'},
  {'id': '864799',
   'name': 'Stefan Bajcetic',
   'position': 'Defensive Midfield',
   'dateOfBirth': 'Oct 22, 2004',
   'age': '19',
   'nationality': ['Spain', 'Serbia'],
   'height': '1,85m',
   'foot': 'right',
   'joinedOn': 'Jul 1, 2022',
   'signedFrom': 'Liverpool FC U18',
   'contract': '€11.00m',
   'marketValue': '€11.00m',
   'status': 'Calf injury - Return expected on Apr 30, 2024'},
  {'id': '451276',
   'name': 'Dominik Szoboszlai',
   'position': 'Central Midfield',
   'dateOfBirth': 'Oct 25, 2000',
   'age': '23',
   'nationality': ['Hungary'],
   'height': '1,87m',
   'foot': 'right',
   'joinedOn': 'Jul 2, 2023',
   'joined': 'Joined from RB Leipzig; date: Jul 2, 2023; fee: €70.00m',
   'signedFrom': 'RB Leipzig',
   'contract': '€75.00m',
   'marketValue': '€75.00m'},
  {'id': '534033',
   'name': 'Alexis Mac Allister',
   'position': 'Central Midfield',
   'dateOfBirth': 'Dec 24, 1998',
   'age': '25',
   'nationality': ['Argentina', 'Italy'],
   'height': '1,76m',
   'foot': 'right',
   'joinedOn': 'Jul 1, 2023',
   'joined': 'Joined from Brighton & Hove Albion; date: Jul 1, 2023; fee: €42.00m',
   'signedFrom': 'Brighton & Hove Albion',
   'contract': '€70.00m',
   'marketValue': '€70.00m'},
  {'id': '433188',
   'name': 'Curtis Jones',
   'position': 'Central Midfield',
   'dateOfBirth': 'Jan 30, 2001',
   'age': '23',
   'nationality': ['England'],
   'height': '1,85m',
   'foot': 'right',
   'joinedOn': 'Jul 1, 2020',
   'signedFrom': 'Liverpool FC U23',
   'contract': '€35.00m',
   'marketValue': '€35.00m'},
  {'id': '478573',
   'name': 'Ryan Gravenberch',
   'position': 'Central Midfield',
   'dateOfBirth': 'May 16, 2002',
   'age': '21',
   'nationality': ['Netherlands', 'Suriname'],
   'height': '1,90m',
   'foot': 'right',
   'joinedOn': 'Sep 1, 2023',
   'joined': 'Joined from Bayern Munich; date: Sep 1, 2023; fee: €40.00m',
   'signedFrom': 'Bayern Munich',
   'contract': '€35.00m',
   'marketValue': '€35.00m'},
  {'id': '60444',
   'name': 'Thiago',
   'position': 'Central Midfield',
   'dateOfBirth': 'Apr 11, 1991',
   'age': '32',
   'nationality': ['Spain', 'Brazil'],
   'height': '1,74m',
   'foot': 'right',
   'joinedOn': 'Sep 18, 2020',
   'signedFrom': 'Bayern Munich',
   'contract': '€10.00m',
   'marketValue': '€10.00m',
   'status': 'Muscle injury - Return unknown'},
  {'id': '712117',
   'name': 'Bobby Clark',
   'position': 'Central Midfield',
   'dateOfBirth': 'Feb 7, 2005',
   'age': '19',
   'nationality': ['England'],
   'height': '1,78m',
   'foot': 'right',
   'joinedOn': 'Jul 1, 2021',
   'contract': '€1.00m',
   'marketValue': '€1.00m'},
  {'id': '565822',
   'name': 'Harvey Elliott',
   'position': 'Attacking Midfield',
   'dateOfBirth': 'Apr 4, 2003',
   'age': '21',
   'nationality': ['England'],
   'height': '1,70m',
   'foot': 'left',
   'joinedOn': 'Jan 30, 2022',
   'signedFrom': 'Liverpool FC U23',
   'contract': '€35.00m',
   'marketValue': '€35.00m'},
  {'id': '480692',
   'name': 'Luis Díaz',
   'position': 'Left Winger',
   'dateOfBirth': 'Jan 13, 1997',
   'age': '27',
   'nationality': ['Colombia'],
   'height': '1,80m',
   'foot': 'right',
   'joinedOn': 'Jan 1, 2023',
   'signedFrom': 'FC Porto',
   'contract': '€75.00m',
   'marketValue': '€75.00m'},
  {'id': '434675',
   'name': 'Cody Gakpo',
   'position': 'Left Winger',
   'dateOfBirth': 'May 7, 1999',
   'age': '24',
   'nationality': ['Netherlands', 'Togo'],
   'height': '1,93m',
   'foot': 'right',
   'joinedOn': 'Sep 19, 2020',
   'signedFrom': 'PSV Eindhoven',
   'contract': '€50.00m',
   'marketValue': '€50.00m'},
  {'id': '340950',
   'name': 'Diogo Jota',
   'position': 'Left Winger',
   'dateOfBirth': 'Dec 4, 1996',
   'age': '27',
   'nationality': ['Portugal'],
   'height': '1,78m',
   'foot': 'right',
   'joinedOn': 'Jul 1, 2017',
   'signedFrom': 'Wolverhampton Wanderers',
   'contract': '€50.00m',
   'marketValue': '€50.00m',
   'status': 'Knee collateral ligament tear - Return expected on Apr 13, 2024'},
  {'id': '148455',
   'name': 'Mohamed Salah',
   'position': 'Right Winger',
   'dateOfBirth': 'Jun 15, 1992',
   'age': '31',
   'nationality': ['Egypt'],
   'height': '1,75m',
   'foot': 'left',
   'joinedOn': 'Jul 1, 2023',
   'signedFrom': 'AS Roma',
   'contract': '€65.00m',
   'marketValue': '€65.00m'},
  {'id': '719673',
   'name': 'Ben Doak',
   'position': 'Right Winger',
   'dateOfBirth': 'Nov 11, 2005',
   'age': '18',
   'nationality': ['Scotland'],
   'height': '1,73m',
   'foot': 'right',
   'joinedOn': 'Jul 1, 2022',
   'joined': 'Internal transfer: Liverpool FC U18; date: Jul 1, 2023',
   'signedFrom': 'Liverpool FC U18',
   'contract': '€10.00m',
   'marketValue': '€10.00m',
   'status': 'Meniscus tear - Return expected on May 5, 2024'}],
 'updatedAt': '2024-04-05T13:49:05.541386'}

In [24]:
import pandas as pd
pd.DataFrame(data[4]['players']).to_csv('check.csv')

In [24]:
data.loc[data['name'] == 'Bukayo Saka']

AttributeError: 'dict' object has no attribute 'loc'

In [11]:
import pandas as pd
pd.DataFrame(data['11']['players']).sort_values(by= 'name')

TypeError: list indices must be integers or slices, not str

In [10]:
data

[{'id': '281', 'name': 'Manchester City'},
 {'id': '31', 'name': 'Liverpool FC'},
 {'id': '631', 'name': 'Chelsea FC'},
 {'id': '985', 'name': 'Manchester United'},
 {'id': '148', 'name': 'Tottenham Hotspur'},
 {'id': '11', 'name': 'Arsenal FC'},
 {'id': '29', 'name': 'Everton FC'},
 {'id': '1003', 'name': 'Leicester City'},
 {'id': '543', 'name': 'Wolverhampton Wanderers'},
 {'id': '405', 'name': 'Aston Villa'},
 {'id': '379', 'name': 'West Ham United'},
 {'id': '1237', 'name': 'Brighton & Hove Albion'},
 {'id': '180', 'name': 'Southampton FC'},
 {'id': '762', 'name': 'Newcastle United'},
 {'id': '931', 'name': 'Fulham FC'},
 {'id': '399', 'name': 'Leeds United'},
 {'id': '873', 'name': 'Crystal Palace'},
 {'id': '350', 'name': 'Sheffield United'},
 {'id': '984', 'name': 'West Bromwich Albion'},
 {'id': '1132', 'name': 'Burnley FC'}]

In [3]:
df= new_url.stats_df()

2024-04-05 11:47:02 - INFO - Club data sourced
2024-04-05 11:47:02 - INFO - List of clubs ids created
2024-04-05 11:47:18 - INFO - Players data loaded to json
2024-04-05 11:47:18 - INFO - DataFrame created
2024-04-05 11:54:38 - INFO - Stats DataFrame created

In [4]:
players_df = df.copy()

In [5]:
players_df

,competitionID,clubID,seasonID,competitionName,appearances,yellowCards,goalsConceded,cleanSheets,minutesPlayed,redCards,id,goals,assists,secondYellowCards
0,GB1,281,2023,Premier League,27,5,25,9,2.314',NaN,238223,NaN,NaN,NaN
1,CL,281,2023,Champions League,6,NaN,5,1,540',NaN,238223,NaN,NaN,NaN
2,FAC,281,2023,FA Cup,NaN,NaN,NaN,NaN,NaN,NaN,238223,NaN,NaN,NaN
3,KLUB,281,2023,Club World Cup,2,NaN,NaN,2,180',NaN,238223,NaN,NaN,NaN
4,CGB,281,2023,EFL Cup,NaN,NaN,NaN,NaN,NaN,NaN,238223,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,GBFL,2793,2013,EFL Trophy,1,NaN,NaN,NaN,44',NaN,169801,2,NaN,NaN
41,GBQ1,9262,2012,U21 PL Qualificationsgr. 1,9,NaN,NaN,NaN,744',NaN,169801,3,1,NaN
42,GB21,9262,2012,U21 PL,3,NaN,NaN,NaN,195',NaN,169801,1,NaN,NaN
43,GBR,9262,2011,Reserve League,6,NaN,NaN,NaN,455',NaN,169801,1,NaN,NaN
44,FAC,1031,2010,FA Cup,NaN,NaN,NaN,NaN,NaN,NaN,169801,NaN,NaN,NaN

In [4]:
club_id

      id                     name
0    281          Manchester City
1     11               Arsenal FC
2    631               Chelsea FC
3     31             Liverpool FC
4    148        Tottenham Hotspur
5    985        Manchester United
6    405              Aston Villa
7    762         Newcastle United
8   1237   Brighton & Hove Albion
9    379          West Ham United
10  1148             Brentford FC
11   873           Crystal Palace
12   703        Nottingham Forest
13   989          AFC Bournemouth
14    29               Everton FC
15   543  Wolverhampton Wanderers
16   931                Fulham FC
17  1132               Burnley FC
18   350         Sheffield United
19  1031               Luton Town

In [141]:
players_df

        id   from    to          date  upcoming season marketValue         fee
0   238223    294   281   Jul 1, 2017     False  17/18     €22.00m  40000000.0
1   238223   2425   294   Jul 1, 2015     False  15/16      €1.20m    500000.0
2   238223   6144  2425   Jul 1, 2012     False  12/13         NaN         NaN
3   238223   8889  6144   Jul 1, 2011     False  11/12         NaN         NaN
4   238223  45618  8889   Jul 1, 2010     False  10/11         NaN         NaN
..     ...    ...   ...           ...       ...    ...         ...         ...
8   169801   2793   931  Jan 29, 2014     False  13/14         NaN         NaN
9   169801    931  2793   Sep 2, 2013     False  13/14         NaN         NaN
10  169801   9262   931   Jul 1, 2013     False  13/14         NaN         NaN
11  169801   6942  9262   Jul 1, 2012     False  12/13         NaN         NaN
12  169801  14619  6942   Mar 1, 2011     False  10/11         NaN    500000.0

[4037 rows x 8 columns]

In [100]:
players_df= df_save

In [101]:
import pandas as pd
numeric_mask = pd.to_numeric(players_df['fee'], errors='coerce').notna()

In [108]:
def convert_fee_to_numeric(fee_str):
    # Usunięcie znaków specjalnyc
    fee_str = fee_str.replace('€', '').replace('m', 'e6').replace('k', 'e3')
    return float(fee_str)

In [140]:
import numpy as np
def delete_strings(row):
    if isinstance(row, str):
        if ('loan' in row) or ('fee' in row) or ('?' in row) or ('draft' in row) or ('free' in row):
            row= np.nan
            return row
        elif row.endswith('m'):
            row= row.replace('m', '')
            row= row.replace('€', '')
            row = float(row)*1e6
            return row
        elif row.endswith('k'):
            row= row.replace('k', '')
            row= row.replace('€', '')
            row = float(row)*1e3
            return row

    return row



players_df['fee']= players_df['fee'].apply(delete_strings)

In [128]:
players_df[players_df.notna()]

        id   from    to          date  upcoming season marketValue         fee
0   238223    294   281   Jul 1, 2017     False  17/18     €22.00m  40000000.0
1   238223   2425   294   Jul 1, 2015     False  15/16      €1.20m    500000.0
2   238223   6144  2425   Jul 1, 2012     False  12/13         NaN         NaN
3   238223   8889  6144   Jul 1, 2011     False  11/12         NaN         NaN
4   238223  45618  8889   Jul 1, 2010     False  10/11         NaN         NaN
..     ...    ...   ...           ...       ...    ...         ...         ...
8   169801   2793   931  Jan 29, 2014     False  13/14         NaN         NaN
9   169801    931  2793   Sep 2, 2013     False  13/14         NaN         NaN
10  169801   9262   931   Jul 1, 2013     False  13/14         NaN         NaN
11  169801   6942  9262   Jul 1, 2012     False  12/13         NaN         NaN
12  169801  14619  6942   Mar 1, 2011     False  10/11         NaN    500000.0

[4037 rows x 8 columns]

In [112]:
players_df.to_csv('float.csv')

In [111]:
players_df['fee']= players_df['fee'].apply(convert_fee_to_numeric)

AttributeError: 'float' object has no attribute 'replace'

ValueError: could not convert string to float: '€40.00m'

In [18]:
players_df['fee']= players_df['fee'].apply(convert_fee_to_numeric)

ValueError: could not convert string to float: 'free transfer'

In [14]:
rows_with_numeric_fee

Empty DataFrame
Columns: [id, from, to, date, upcoming, season, marketValue, fee]
Index: []

In [8]:
players= list(players_df['id'])

In [4]:
transfers_urls= [f'http://localhost:8000/players/{i}/transfers'for i in players]
transfers_list=[]
for i in transfers_urls:
    response= requests.get(i)
    data= response.json()
    transfers_list.append(data)

NameError: name 'players' is not defined

In [28]:
import pandas as pd
df= pd.DataFrame(transfers_list[0]['transfers'])
df['id']= transfers_list[0]['id']

In [32]:
df['from']= df['from'].apply(lambda x: x['clubID'])

In [30]:
df['to']= df['to'].apply(lambda x: x['clubID'])

In [33]:
df

,id,from,to,date,upcoming,season,marketValue,fee
0,238223,294,281,"Jul 1, 2017",False,17/18,€22.00m,€40.00m
1,238223,2425,294,"Jul 1, 2015",False,15/16,€1.20m,€500k
2,238223,6144,2425,"Jul 1, 2012",False,12/13,NaN,free transfer
3,238223,8889,6144,"Jul 1, 2011",False,11/12,NaN,free transfer
4,238223,45618,8889,"Jul 1, 2010",False,10/11,NaN,NaN
5,238223,14679,45618,"Jan 1, 2010",False,09/10,NaN,?

In [14]:
import pandas as pd
pd.DataFrame(club_list['11']['players'])
lista= [pd.DataFrame(club_list[i]['players']) for i in club_list]

NameError: name 'club_list' is not defined

In [13]:
lista[0]

NameError: name 'lista' is not defined

In [16]:
players_df

,id,name,position,dateOfBirth,age,nationality,height,foot,joinedOn,signedFrom,contract,marketValue,status,joined
0,238223,Ederson,Goalkeeper,"Aug 17, 1993",30,"[Brazil, Portugal]","1,88m",left,"Jul 1, 2017",SL Benfica,€40.00m,€40.00m,Muscle injury - Return unknown,NaN
1,85941,Stefan Ortega,Goalkeeper,"Nov 6, 1992",31,"[Germany, Spain]","1,85m",right,"Jul 1, 2022",Arminia Bielefeld,€9.00m,€9.00m,NaN,NaN
2,14555,Scott Carson,Goalkeeper,"Sep 3, 1985",38,[England],"1,88m",right,"Jul 20, 2021",Derby County,€200k,€200k,NaN,NaN
3,258004,Rúben Dias,Centre-Back,"May 14, 1997",26,[Portugal],"1,87m",right,"Sep 29, 2020",SL Benfica,€80.00m,€80.00m,NaN,NaN
4,475959,Josko Gvardiol,Centre-Back,"Jan 23, 2002",22,[Croatia],"1,85m",left,"Aug 5, 2023",RB Leipzig,€75.00m,€75.00m,NaN,"Joined from RB Leipzig; date: Aug 5, 2023; fee..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23,61842,Andros Townsend,Right Winger,"Jul 16, 1991",32,[England],"1,81m",left,"Oct 11, 2023",Without Club,€1.80m,€1.80m,NaN,"Joined from Without Club; date: Oct 11, 2023; ..."
24,246963,Carlton Morris,Centre-Forward,"Dec 16, 1995",28,[England],"1,85m",right,"Jul 6, 2022",Barnsley FC,€13.00m,€13.00m,NaN,NaN
25,319900,Elijah Adebayo,Centre-Forward,"Jan 7, 1998",26,"[England, Nigeria]","1,93m",NaN,"Feb 1, 2021",Walsall FC,€12.00m,€12.00m,NaN,NaN
26,469958,Jacob Brown,Centre-Forward,"Apr 10, 1998",25,"[Scotland, England]","1,78m",right,"Aug 10, 2023",Stoke City,€4.00m,€4.00m,NaN,"Joined from Stoke City; date: Aug 10, 2023; fe..."
27,169801,Cauley Woodrow,Centre-Forward,"Dec 2, 1994",29,[England],"1,84m",right,"Jul 1, 2022",Barnsley FC,€1.00m,€1.00m,NaN,NaN

In [10]:
       for i in transfers_list:
            df= pd.DataFrame(transfers_list[i]['transfers'])
            df['id']= transfers_list[i]['id']
            df['from']= df['from'].apply(lambda x: x['clubID'])
            df['to']= df['to'].apply(lambda x: x['clubID'])

In [11]:

response = requests.get(url)

In [12]:
data = response.json()

In [13]:
print(data)

{'id': 'GB1', 'name': 'Premier League', 'seasonID': '2023', 'clubs': [{'id': '281', 'name': 'Manchester City'}, {'id': '11', 'name': 'Arsenal FC'}, {'id': '631', 'name': 'Chelsea FC'}, {'id': '31', 'name': 'Liverpool FC'}, {'id': '148', 'name': 'Tottenham Hotspur'}, {'id': '985', 'name': 'Manchester United'}, {'id': '405', 'name': 'Aston Villa'}, {'id': '762', 'name': 'Newcastle United'}, {'id': '1237', 'name': 'Brighton & Hove Albion'}, {'id': '379', 'name': 'West Ham United'}, {'id': '1148', 'name': 'Brentford FC'}, {'id': '873', 'name': 'Crystal Palace'}, {'id': '703', 'name': 'Nottingham Forest'}, {'id': '989', 'name': 'AFC Bournemouth'}, {'id': '29', 'name': 'Everton FC'}, {'id': '543', 'name': 'Wolverhampton Wanderers'}, {'id': '931', 'name': 'Fulham FC'}, {'id': '1132', 'name': 'Burnley FC'}, {'id': '350', 'name': 'Sheffield United'}, {'id': '1031', 'name': 'Luton Town'}], 'updatedAt': '2024-04-04T14:27:44.989723'}

In [22]:
json_file= new_url.clubs_competitions()

In [4]:
json_file['clubs'][0]['id']

NameError: name 'json_file' is not defined

In [9]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.1-cp39-cp39-macosx_11_0_arm64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 5.3 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/michalchruszczewski/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     |████████████████████████████████| 505 kB 8.0 MB/s eta 0:00:01
Collecting numpy<2,>=1.22.4
  Downloading numpy-1.26.4-cp39-cp39-macosx_11_0_arm64.whl (14.0 MB)
     |████████████████████████████████| 14.0 MB 2.9 MB/s eta 0:00:01
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     |████████████████████████████████| 345 kB 6.2 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 pytz-2024.1 tzdata-2024.1
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd

In [19]:
json_file['clubs'][0]['id']

'281'

In [7]:
import pandas as pd       
for i in players_df:
    df= pd.DataFrame(players_df[i]['transfers'])
    df['id']= players_df[i]['id']
    df['from']= df['from'].apply(lambda x: x['clubID'])
    df['to']= df['to'].apply(lambda x: x['clubID'])

TypeError: list indices must be integers or slices, not dict

In [16]:
for index, element in enumerate(players_df):
    print(index)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526

In [14]:
# Przykładowa lista elementów
elements = ["element1", "element2", "element3"]

# Iteracja po liście z użyciem enumerate() do uzyskania indeksu i wartości
for index, element in enumerate(elements):
    print(f"Index: {index}, Element: {element}")

Index: 0, Element: element1
Index: 1, Element: element2
Index: 2, Element: element3